#intro-cours {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 2em;
    margin:0;
    font-size: 1.2em;
}

#body-index {
    height: 50%;
    background: url(../image/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

p {
    color:white;
    font-size: 1.1em;
}

#h1-index {
    text-align: center;
    margin-top: 1em;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    color: white;
}

.intro {
    padding-left: 5vh;
    padding-right: 5vh;
}

fieldset{
    /*background-color: white;*/
    border: background;
}

fieldset legend{
    text-align: center;
}

#tweet_content {
    text-align: center;
    font-family: 'Calibri';
    font-size: 1.3em;
    padding: 1em 2em 1em 2em;
    background-color: rgba(66, 238, 244, 0.3);
    border-radius: 1vh;
}

#div_radio {
    color: white;
    text-align: center;
    font-size: 1.1em;
}

#button_submit {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#emoticon-smile{
    margin-top: 1em;
}

.icon-rs{
    margin-bottom: 2em;
}

#op{
    background-color: rgba(255,255,255, 0.2);
}


span{
     font-size:1.2em;
}



